In [1]:
#SP-1 Arithmetic Operators
n1 = int(input("Enter 1st number: "))
n2 = int(input("Enter 2nd number: "))
add = n1 + n2
print("Addition: ",add)
sub = n1 - n2
print("Subtraction: ",sub)
mul = n1 * n2
print("Multiplication: ",mul)
div = n1 / n2
print("Division: ",div)
int_div = n1 // n2
print("Integer Division: ",int_div)
mod = n1 % n2
print("Modulo: ",mod)
exp = n1 ** n2
print("Exponentiation: ",exp)

Enter 1st number:  2
Enter 2nd number:  2

Addition:  4
Subtraction:  0
Multiplication:  4
Division:  1.0
Integer Division:  1
Modulo:  0
Exponentiation:  4

In [5]:
#SP-2 Logical Operators
f_val = bool(int(input("Enter 1st boolean value (True or False): ")))
s_val = bool(int(input("Enter 2nd boolean value (True or False): ")))
l_and = f_val and s_val
print("Logical AND: ",l_and)
l_or = f_val or s_val
print("Logical OR: ",l_or)
not_f_val = not f_val
not_s_val = not s_val
print("Logical NOT for the first value: ",not_f_val)
print("Logical NOT for the second value: ",not_s_val)

Enter 1st boolean value (True or False): 22
Enter 2nd boolean value (True or False): 55
Logical AND:  True
Logical OR:  True
Logical NOT for the first value:  False
Logical NOT for the second value:  False

In [4]:
#SP-3 Identity Operator
str = input("Please enter a string: ")
s = "Hello"
s1 = "World"
is_hello = str is s
is_not_hello = str is not s1
print(f" \"{str}\" is the same as \"Hello\":",is_hello)
print(f" \"{str}\" is not the same as \"World\":",is_not_hello)

Please enter a string:  World

 "World" is the same as "Hello": False
 "World" is not the same as "World": True

In [8]:
#EP-1 Comparison or Relational Operators
a = int(input("Enter 1st num: "))
b = float(input("Enter 2nd num: "))
print( a,"==",b, a == b )
print( a,"!=",b, a != b )
print( a,"<",b, a < b )
print( a,">",b, a > b )
print( a,">=",b, a >= b )
print( a,"<=",b, a <= b )

Enter 1st num:  5
Enter 2nd num:  7

5 == 7.0 False
5 != 7.0 True
5 < 7.0 True
5 > 7.0 False
5 >= 7.0 False
5 <= 7.0 True

In [12]:
#EP-2 Logical BITWISE Operators
a = int(input("Enter 1st num: "))
b = int(input("Enter 2nd num: "))
print( a,"&",b,"=", a & b )
print( a,"|",b,"=", a | b )
print( a,"^",b,"=", a ^ b )
print( a,">>",b,"=", a >> b )
print( a,"<<",b,"=", a << b )
print( "~",a,"=", ~a )
print( "~",b,"=", ~b)

Enter 1st num:  2
Enter 2nd num:  3

2 & 3 = 2
2 | 3 = 3
2 ^ 3 = 1
2 >> 3 = 0
2 << 3 = 16
~ 2 = -3
~ 3 = -4

In [13]:
#EP-3 Membership Operator
n = int(input("Enter a number"))
a = 0
b = 1
print(0,1,end=" ")
for _ in range(2,n):
    c = a + b
    a = b
    b = c
    print(c,end=" ")

Enter a number 7

0 1 1 2 3 5 8

In [32]:
#EP-4 Swap 2-numbers(Assignment operator)
x=int(input("Enter 1st num: "))
y=int(input("Enter 2nd num: "))
x=x^y
y=x^y
x=x^y
print("x=",x)
print("y=",y)

Enter 1st num:  2
Enter 2nd num:  3

x= 3
y= 2

In [22]:
#EP-5 String Multiplication and Concatenation
s=input("Enter a string: ")
c=s*5
d=s+'Warangal'
print(c)
print(d)

Enter a string:  kits

['kitskitskitskitskits']
kitsWarangal

In [26]:
#EP-6 Number of seconds for X number off-days
days=int(input("Enter no of days:"))
print((days*24)*60*60,'seconds')

Enter no of days: 5

432000 seconds

In [33]:
#EP-7 Gross salary
basic=int(input("Basic salary: "))
da=basic*0.60
hra=basic*0.20
ta=basic*0.05
print("Total salary: ",basic+da+hra+ta)
print(da,hra,ta)

Basic salary:  56893

Total salary:  105252.04999999999
34135.799999999996 11378.6 2844.65

In [1]:
#EP-8 Simple Interest and Compound Interest
p=int(input("Enter Principle amount: "))
r=int(input("Enter rate of interest: "))
t=int(input("Enter time: "))
n=int(input("Enter no.of times interest is compounded: "))
si=(p*t*r)/100
a=p*(1+r/(n*100))**(n*t)
ci=a-p
print(f"SI=${si:.2f}")
print(f"CI=${ci:.2f}")

Enter Principle amount: 20000
Enter rate of interest: 8
Enter time: 2
Enter no.of times interest is compounded: 2
SI=$3200.00
CI=$3397.17

In [2]:
#EP-9 Solve Quadratic Equation
import math
a=float(input("Enter Co-efficient of a:"))
b=float(input("Enter Co-efficient of b:"))
c=float(input("Enter Co-efficient of c:"))
D=b**2-4*a*c
if D>0:
    r1=(-b+math.sqrt(D))/(2*a)
    r2=(-b-math.sqrt(D))/(2*a)
    print(f"x={r1} and x={r2}")
elif D==0:
    r=-b/(2*a)
    print(f"x={r}")
else:
    r=-b/(2*a)
    i=math.sqrt(-D)/(2*a)
    print(f"x={r}+{i}i and x={r}-{i}i")

Enter Co-efficient of a:1
Enter Co-efficient of b:-3
Enter Co-efficient of c:2
x=2.0 and x=1.0

In [5]:
#EP-10 Print message using Format specifier
US="Washington"
India="New Delhi"
China="Beeging"
UK="London"
print("Capital cities: India : {},US : {},UK : {},China : {}".format(India,US,UK,China))

Capital cities: India : New Delhi,US : Washington,UK : London,China : Beeging